@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;

}

p{
    font-family: Inter;
    font-weight: 100;
    font-style: italic;
    color: crimson;
}

/* Estilos para o main */
main {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cadastro-rh {
    width: 1400px;
    height: 882px;

    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
}

.content-img {
    width: 840px;
    height: 760px;
    position: absolute;
    left: 0;
}

.content-info {
    
}
